# PyCitySchools Analysis:

       Overall, charter schools with a lower budget per student (~$585) performed higher than district schools with a higher budget per student (~$630).
    
       Overall, small and medium sized (<2000 students) schools performed higher than large sized schools (2000+ students).
    
       Overall, charter schools exceeded district school students' average math and reading scores by approximately 7% and 3% respectively.
    
   - Charter schools out performed district schools with higher average math scores, average reading scores, percentage of students passing math, percentage of students passing reading, and overall passing rate. It is difficult to conclude if these results are due to the fact that charter schools have less students than district schools or if there is another variable affecting this analysis.

In [1]:
import pandas as pd

schoolsFile="Resources/schools_complete.csv"
studentFile="Resources/students_complete.csv"

schoolsDF=pd.read_csv(schoolsFile)
studentDF=pd.read_csv(studentFile)


schoolCompleteDF=pd.merge(studentDF,schoolsDF,how="left", on=["school_name", "school_name"])
schoolCompleteDF.head()

,Student ID,student_name,gender,grade,school_name,reading_score,math_score,School ID,type,size,budget
0,0,Paul Bradley,M,9th,Huang High School,66,79,0,District,2917,1910635
1,1,Victor Smith,M,12th,Huang High School,94,61,0,District,2917,1910635
2,2,Kevin Rodriguez,M,12th,Huang High School,90,60,0,District,2917,1910635
3,3,Dr. Richard Scott,M,12th,Huang High School,67,58,0,District,2917,1910635
4,4,Bonnie Ray,F,9th,Huang High School,97,84,0,District,2917,1910635

District Summary

In [2]:
schoolCount=len(schoolCompleteDF["school_name"].unique())
schoolCount

15

In [3]:
studentCount=len(schoolCompleteDF ["Student ID"].unique ())
studentCount

39170

In [4]:
totalBudget=schoolsDF["budget"].sum()
totalBudget

24649428

In [5]:
averageMathScore= schoolCompleteDF["math_score"].mean ()
averageMathScore

78.98537145774827

In [6]:
averageReadingScore= schoolCompleteDF ["reading_score"].mean()
averageReadingScore

81.87784018381414

In [7]:
passingMathCount =  schoolCompleteDF[(schoolCompleteDF["math_score"] >= 70)].count()["student_name"]
passingMathPercentage = passingMathCount / float(studentCount) * 100
passingMathPercentage

74.9808526933878

In [8]:
passingReadingCount = schoolCompleteDF[(schoolCompleteDF["reading_score"] >= 70)].count()["student_name"]
passingReadingPercentage = passingReadingCount / float(studentCount) * 100
passingReadingPercentage

85.80546336482001

In [9]:
passingMathReadingCount = schoolCompleteDF[
    (schoolCompleteDF["math_score"] >= 70) & (schoolCompleteDF["reading_score"] >= 70)
].count()["student_name"]
overallPassingRate = passingMathReadingCount /  float(studentCount) * 100
overallPassingRate

65.17232575950983

In [10]:
districtSummary={
     "Total Schools": [schoolCount],
    "Total Students": [studentCount],
    "Total Budget": [totalBudget],
    "Average Math Score": [averageMathScore],
    "Average Reading Score": [averageReadingScore],
    "% Passing Math": [passingMathCount],
    "% Passing Reading": [passingReadingCount],
    "% Overall Passing": [passingMathReadingCount]
}
districtSummaryDF=pd.DataFrame(districtSummary)
districtSummaryDF["Total Students"]=districtSummaryDF["Total Students"].map("{:,}".format)
districtSummaryDF["Total Budget"]=districtSummaryDF["Total Budget"].map("{:,.2f}".format)
districtSummaryDF

,Total Schools,Total Students,Total Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
0,15,"39,170","24,649,428.00",78.985371,81.87784,29370,33610,25528

School Summary

In [11]:
schoolTypes=schoolsDF.set_index(["school_name"])["type"]

In [12]:
perSchoolCounts = schoolCompleteDF.groupby(["school_name"]).count()["size"]

In [13]:
perSchoolBudget = schoolCompleteDF.groupby(["school_name"]).mean()["budget"]
perSchoolCapita = perSchoolBudget / perSchoolCounts

In [14]:
perSchoolMath = schoolCompleteDF.groupby(["school_name"]).mean()["math_score"]
perSchoolReading = schoolCompleteDF.groupby(["school_name"]).mean()["reading_score"]

In [15]:
schoolPassingMath= schoolCompleteDF[(schoolCompleteDF["math_score"] >= 70)]

In [16]:
schoolPassingReading =schoolCompleteDF[(schoolCompleteDF["reading_score"] >= 70)]

In [17]:
passingMathAndReading = schoolCompleteDF[
    (schoolCompleteDF["reading_score"] >= 70) & (schoolCompleteDF["math_score"] >= 70)
]

In [18]:
perSchoolPassingMath = schoolPassingMath.groupby(["school_name"]).count()["student_name"] / perSchoolCounts * 100
perSchoolPassingReading = schoolPassingReading.groupby(["school_name"]).count()["student_name"] / perSchoolCounts * 100
overallPassingRate=passingMathAndReading.groupby(["school_name"]).count()["student_name"] / perSchoolCounts * 100

In [19]:
perSchoolSummary={
    "School Type":schoolTypes,
    "Total Students": perSchoolCounts,
    "Total School Budget": perSchoolBudget,
    "Per Student Budget":perSchoolCapita,
    "Average Math Score": perSchoolMath,
    "Average Reading Score": perSchoolReading,
    "% Passing Math": perSchoolPassingMath,
    "% Passing Reading": perSchoolPassingReading,
    "% Overall Passing": overallPassingRate
}
perSchoolSummaryDF=pd.DataFrame(perSchoolSummary)
perSchoolSummaryDF

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333

Highest-Performing Schools

In [20]:
highestPerforming=perSchoolSummaryDF.sort_values("% Overall Passing",ascending=False)
highestPerforming.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541

Bottom Performing Schools

In [21]:
lowestPerforming=perSchoolSummaryDF.sort_values("% Overall Passing",ascending=True)
lowestPerforming.head(5)

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
school_name,,,,,,,,,
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172

Math Scores By Grade

In [22]:
ninthGraders = schoolCompleteDF[(schoolCompleteDF["grade"] == "9th")]
tenthGraders = schoolCompleteDF[(schoolCompleteDF["grade"] == "10th")]
eleventhGraders = schoolCompleteDF[(schoolCompleteDF["grade"] == "11th")]
twelfthGraders = schoolCompleteDF[(schoolCompleteDF["grade"] == "12th")]

ninthGradersScores = ninthGraders.groupby(["school_name"]).mean()
tenthGradersScores = tenthGraders.groupby(["school_name"]).mean()
eleventhGradersScores = eleventhGraders.groupby(["school_name"]).mean()
twelfthGradersScores = twelfthGraders.groupby(["school_name"]).mean()

ninthGradeMathScores = ninthGradersScores["math_score"]
tenthGradeMathScores = tenthGradersScores["math_score"]
eleventhGradeMathScores = eleventhGradersScores["math_score"]
twelfthGradeMathScores = twelfthGradersScores["math_score"]


mathScoresByGrade={
    "9th":ninthGradeMathScores,
    "10th":tenthGradeMathScores,
    "11th":eleventhGradeMathScores,
    "12th":twelfthGradeMathScores
}
mathScoresByGradeDF=pd.DataFrame(mathScoresByGrade)
mathScoresByGradeDF.index.name=None
mathScoresByGradeDF

                             9th       10th       11th       12th
Bailey High School     77.083676  76.996772  77.515588  76.492218
Cabrera High School    83.094697  83.154506  82.765560  83.277487
Figueroa High School   76.403037  76.539974  76.884344  77.151369
Ford High School       77.361345  77.672316  76.918058  76.179963
Griffin High School    82.044010  84.229064  83.842105  83.356164
Hernandez High School  77.438495  77.337408  77.136029  77.186567
Holden High School     83.787402  83.429825  85.000000  82.855422
Huang High School      77.027251  75.908735  76.446602  77.225641
Johnson High School    77.187857  76.691117  77.491653  76.863248
Pena High School       83.625455  83.372000  84.328125  84.121547
Rodriguez High School  76.859966  76.612500  76.395626  77.690748
Shelton High School    83.420755  82.917411  83.383495  83.778976
Thomas High School     83.590022  83.087886  83.498795  83.497041
Wilson High School     83.085578  83.724422  83.195326  83.035794
Wright High School     83.264706  84.010288  83.836782  83.644986

Reading Scores By Grade

In [23]:
ninthGraders = schoolCompleteDF[(schoolCompleteDF["grade"] == "9th")]
tenthGraders = schoolCompleteDF[(schoolCompleteDF["grade"] == "10th")]
eleventhGraders = schoolCompleteDF[(schoolCompleteDF["grade"] == "11th")]
twelfthGraders = schoolCompleteDF[(schoolCompleteDF["grade"] == "12th")]

ninthGradersScores = ninthGraders.groupby(["school_name"]).mean()
tenthGradersScores = tenthGraders.groupby(["school_name"]).mean()
eleventhGradersScores = eleventhGraders.groupby(["school_name"]).mean()
twelfthGradersScores = twelfthGraders.groupby(["school_name"]).mean()

ninthGradeReadingScores = ninthGradersScores["reading_score"]
tenthGradeReadingScores = tenthGradersScores["reading_score"]
eleventhGradeReadingScores = eleventhGradersScores["reading_score"]
twelfthGradeReadingScores = twelfthGradersScores["reading_score"]


ReadingScoresByGrade={
    "9th":ninthGradeReadingScores,
    "10th":tenthGradeReadingScores,
    "11th":eleventhGradeReadingScores,
    "12th":twelfthGradeReadingScores
}
ReadingScoresByGradeDF=pd.DataFrame(ReadingScoresByGrade)
ReadingScoresByGradeDF.index.name=None
ReadingScoresByGradeDF

                             9th       10th       11th       12th
Bailey High School     81.303155  80.907183  80.945643  80.912451
Cabrera High School    83.676136  84.253219  83.788382  84.287958
Figueroa High School   81.198598  81.408912  80.640339  81.384863
Ford High School       80.632653  81.262712  80.403642  80.662338
Griffin High School    83.369193  83.706897  84.288089  84.013699
Hernandez High School  80.866860  80.660147  81.396140  80.857143
Holden High School     83.677165  83.324561  83.815534  84.698795
Huang High School      81.290284  81.512386  81.417476  80.305983
Johnson High School    81.260714  80.773431  80.616027  81.227564
Pena High School       83.807273  83.612000  84.335938  84.591160
Rodriguez High School  80.993127  80.629808  80.864811  80.376426
Shelton High School    84.122642  83.441964  84.373786  82.781671
Thomas High School     83.728850  84.254157  83.585542  83.831361
Wilson High School     83.939778  84.021452  83.764608  84.317673
Wright High School     83.833333  83.812757  84.156322  84.073171

Scores by School Spending

In [24]:
spendingBins = [0, 585, 630, 645, 680]
labels = ["<$585", "$585-630", "$630-645", "$645-680"]

In [25]:
schoolSpendingDF = perSchoolSummaryDF.copy()

In [26]:
schoolSpendingDF["Spending Ranges (Per Student)"]=pd.cut(schoolSpendingDF['Per Student Budget'],spendingBins,labels=labels,include_lowest=True)
schoolSpendingDF

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,Spending Ranges (Per Student)
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,$585-630
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,<$585
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,$630-645
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,$630-645
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,$585-630
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,$645-680
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,<$585
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,$645-680
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,$645-680
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,$585-630
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,$630-645
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,$585-630
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,$630-645
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,<$585
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,<$585

In [27]:
spendingMathScores = schoolSpendingDF.groupby(["Spending Ranges (Per Student)"]).mean()["Average Math Score"]
spendingReadingScores = schoolSpendingDF.groupby(["Spending Ranges (Per Student)"]).mean()["Average Reading Score"]
spendingPassingMath = schoolSpendingDF.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Math"]
spendingPassingReading = schoolSpendingDF.groupby(["Spending Ranges (Per Student)"]).mean()["% Passing Reading"]
overallPassingSpending = schoolSpendingDF.groupby(["Spending Ranges (Per Student)"]).mean()["% Overall Passing"]

In [28]:
spendingSummary={
    "Average Math Score":spendingMathScores,
    "Average Reading Score":spendingReadingScores,
    "% PassingMath":spendingPassingMath,
    "% Passsing Reading":spendingPassingReading,
    "% Overall Passing":overallPassingSpending
}

spendingSummaryDF=pd.DataFrame(spendingSummary)
spendingSummaryDF

,Average Math Score,Average Reading Score,% PassingMath,% Passsing Reading,% Overall Passing
Spending Ranges (Per Student),,,,,
<$585,83.455399,83.933814,93.460096,96.610877,90.369459
$585-630,81.899826,83.155286,87.133538,92.718205,81.418596
$630-645,78.518855,81.624473,73.484209,84.391793,62.857656
$645-680,76.997210,81.027843,66.164813,81.133951,53.526855

Scores By School Size

In [29]:
sizeBins=[0,1000,2000,5000]
labels=["Small (<1000)","Medium (1000-2000)","Large (2000-5000)"]

In [30]:
schoolSizeDF=perSchoolSummaryDF.copy()

In [31]:
schoolSizeDF['School Size']=pd.cut(schoolSizeDF['Total Students'],sizeBins,labels=labels,include_lowest=True)
schoolSizeDF

,School Type,Total Students,Total School Budget,Per Student Budget,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing,School Size
school_name,,,,,,,,,,
Bailey High School,District,4976,3124928.0,628.0,77.048432,81.033963,66.680064,81.933280,54.642283,Large (2000-5000)
Cabrera High School,Charter,1858,1081356.0,582.0,83.061895,83.975780,94.133477,97.039828,91.334769,Medium (1000-2000)
Figueroa High School,District,2949,1884411.0,639.0,76.711767,81.158020,65.988471,80.739234,53.204476,Large (2000-5000)
Ford High School,District,2739,1763916.0,644.0,77.102592,80.746258,68.309602,79.299014,54.289887,Large (2000-5000)
Griffin High School,Charter,1468,917500.0,625.0,83.351499,83.816757,93.392371,97.138965,90.599455,Medium (1000-2000)
Hernandez High School,District,4635,3022020.0,652.0,77.289752,80.934412,66.752967,80.862999,53.527508,Large (2000-5000)
Holden High School,Charter,427,248087.0,581.0,83.803279,83.814988,92.505855,96.252927,89.227166,Small (<1000)
Huang High School,District,2917,1910635.0,655.0,76.629414,81.182722,65.683922,81.316421,53.513884,Large (2000-5000)
Johnson High School,District,4761,3094650.0,650.0,77.072464,80.966394,66.057551,81.222432,53.539172,Large (2000-5000)
Pena High School,Charter,962,585858.0,609.0,83.839917,84.044699,94.594595,95.945946,90.540541,Small (<1000)
Rodriguez High School,District,3999,2547363.0,637.0,76.842711,80.744686,66.366592,80.220055,52.988247,Large (2000-5000)
Shelton High School,Charter,1761,1056600.0,600.0,83.359455,83.725724,93.867121,95.854628,89.892107,Medium (1000-2000)
Thomas High School,Charter,1635,1043130.0,638.0,83.418349,83.848930,93.272171,97.308869,90.948012,Medium (1000-2000)
Wilson High School,Charter,2283,1319574.0,578.0,83.274201,83.989488,93.867718,96.539641,90.582567,Large (2000-5000)
Wright High School,Charter,1800,1049400.0,583.0,83.682222,83.955000,93.333333,96.611111,90.333333,Medium (1000-2000)

In [32]:
sizeMathScores = schoolSizeDF.groupby(["School Size"]).mean()["Average Math Score"]
sizeReadingScores = schoolSizeDF.groupby(["School Size"]).mean()["Average Reading Score"]
sizePassingMath = schoolSizeDF.groupby(["School Size"]).mean()["% Passing Math"]
sizePassingReading = schoolSizeDF.groupby(["School Size"]).mean()["% Passing Reading"]
sizeOverallPassing = schoolSizeDF.groupby(["School Size"]).mean()["% Overall Passing"]

In [33]:
sizeSummary={
    "Average Math Score": sizeMathScores,
    "Average Reading Score": sizeReadingScores,
    "% Passing Math": sizePassingMath,
    "% Passing Reading": sizePassingReading,
    "% Overall Passing": sizeOverallPassing
}

sizeSummaryDF=pd.DataFrame(sizeSummary)
sizeSummaryDF

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Size,,,,,
Small (<1000),83.821598,83.929843,93.550225,96.099437,89.883853
Medium (1000-2000),83.374684,83.864438,93.599695,96.790680,90.621535
Large (2000-5000),77.746417,81.344493,69.963361,82.766634,58.286003

In [34]:
typeMathScores= perSchoolSummaryDF.groupby (["School Type"]).mean()["Average Math Score"]
typeReadingScores=perSchoolSummaryDF.groupby (["School Type"]).mean()["Average Reading Score"]
typePassingMath=perSchoolSummaryDF.groupby(["School Type"]).mean()["% Passing Math"]
typePassingReading=perSchoolSummaryDF.groupby(["School Type"]).mean()["% Passing Reading"]
typeOverallPassing=perSchoolSummaryDF.groupby (["School Type"]).mean()["% Overall Passing"]

In [35]:
typeSummary={
    "Average Math Score": typeMathScores,
    "Average Reading Score": typeReadingScores,
    "% Passing Math": typePassingMath,
    "% Passing Reading": typePassingReading,
    "% Overall Passing": typeOverallPassing,
}

typeSummaryDF=pd.DataFrame(typeSummary)
typeSummaryDF

,Average Math Score,Average Reading Score,% Passing Math,% Passing Reading,% Overall Passing
School Type,,,,,
Charter,83.473852,83.896421,93.620830,96.586489,90.432244
District,76.956733,80.966636,66.548453,80.799062,53.672208